.containerImg{
    position: relative;
    margin-bottom: 8%;
}

.img-curso{
    width: 100%;
}

.svg{
    position: absolute;
    width: 100%;
    bottom: -12%;
}

.container-cursos-head{
    text-align: center;
    margin: 8px;
}

.container-cursos-head > h4{
    color: #E74C3C;
    margin: 5px;
}

.container-cursos-head > h5{
    margin: 8px;
}

.container-links-cursos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.container-links-cursos > a{
    text-decoration: none;
    color: #3498DB;
}

.container-aspelSae{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container-aspelSae > .container-table{
    width: 70%;
}

.aspelSae > h6{
    font-weight: normal;
    font-size: 0.8rem;
}

.cursos-description{
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.cursos-description-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 20px;
}

.grid-container{
    margin-top: 15px;
}

.grid-container > img{
    width: 100%;
}

.grid-container > p{
    padding: 8px;
    color: #566573;
}